In [1]:
import pandas as pd
import numpy as np

In [3]:
player = pd.read_csv("./datasets/player_info.csv")

In [11]:
dl = pd.read_csv("./datasets/deliveries.csv")

In [4]:
player.head()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,2024,Ruturaj Gaikwad,2,0,61,46,30.5,51,119.61,0,...,2,0,0,0,0,0,0,0,0,0
1,2023,Ruturaj Gaikwad,16,1,590,92,42.14,400,147.5,0,...,16,0,0,0,0,0,0,0,0,0
2,2022,Ruturaj Gaikwad,14,0,368,99,26.29,291,126.46,0,...,14,0,0,0,0,0,0,0,0,0
3,2021,Ruturaj Gaikwad,16,2,635,101*,45.35,466,136.26,1,...,16,0,0,0,0,0,0,0,0,0
4,2020,Ruturaj Gaikwad,6,2,204,72,51,169,120.71,0,...,6,0,0,0,0,0,0,0,0,0

In [9]:
player.value_counts("Player_Name")

Player_Name
MS Dhoni              17
Wriddhiman Saha       17
Virat Kohli           17
Shikhar Dhawan        17
Rohit Sharma          17
                      ..
Rahmanullah Gurbaz     1
Rachin Ravindra        1
Dilshan Madushanka     1
Donovan Ferreira       1
Mukesh Choudhary       1
Name: count, Length: 247, dtype: int64

In [12]:
dl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [13]:
batter = dl.value_counts("batter")

In [19]:
batters = batter.index

In [20]:
bowler = dl.value_counts("bowler")

In [21]:
bowlers = bowler.index

In [22]:
striker = dl.value_counts("non_striker")

In [23]:
strikers = striker.index

In [25]:
batters = set(batters)
bowlers = set(bowlers)
strikers = set(strikers)

In [26]:
total_platers = batters | bowlers | strikers

In [28]:
len(total_platers)

732

In [29]:
tp = pd.DataFrame(total_platers)

In [31]:
tp.value_counts()

0
A Ashish Reddy    1
PP Shaw           1
PSP Handscomb     1
PV Tambe          1
PVD Chameera      1
                 ..
Imran Tahir       1
Iqbal Abdulla     1
Ishan Kishan      1
J Arunkumar       1
Z Khan            1
Name: count, Length: 732, dtype: int64